---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---
<style>
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

A:visted {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

A:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
</style>

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am currently a doctoral student at Johns Hopkins University focusing my energy to look for Type-Ia progenitor and uncover the secrets of stellar binary evolution. Broadly, I am also interested in the evolution history of stellar binaries, mass transfer phases of binary evolution (particularly the common envelope phase), and post-common envelope binaries. Beyond physics, I love working with all kinds of data and numbers, trying squeeze information where it looks like chaos. Astrophysic in-between Physics and data analysis, and a right amount of theory and real world.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science and Master of Science in Physics"
      subtitle="2016 to 2021 at Indian Institute of Technology Madras (IITM), Chennai, India"
    />
    <TimeLineElement
      title="Master of Arts in Physics"
      subtitle="2021 to 2023 at Johns Hopkins University (JHU), Baltimore, U.S.A"
    />
    <TimeLineElement
      title="Doctor of Philosophy in Astrophysics"
      subtitle="2021 to 2027 (expected) at Johns Hopkins University (JHU), Baltimore, U.S.A"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Internship at Raman Research Institute (RRI), Bangalore, India"
      subtitle="Advisor: Prof. Shiv Sethi (2018-2020)"
    >
      I modeled charged, interacting dark matter matter models and implemented it into the cosmological Boltzmann equations. I then simulated the impact of these new models on the evolution of our universe, and performed Markov chain Monte Carlo (MCMC) analysis to place bounds on possible parameter space of charged dark matter models. This resulted in the paper : <a href = "https://doi.org/10.1088/1475-7516/2020/03/039">Cosmological implications of electromagnetically interacting dark matter: milli-charged particles and atoms with singly and doubly charged dark matter.</a>
	</TimeLineElement>

    <TimeLineElement
      title="Research Internship at Laboratoire d’Annecy-le-Vieux de Physique Théorique (LAPTh), Annecy, France"
      subtitle="Advisor: Dr. Francesca Calore (2019-2021)"
    >
      I used a model of axion like particle (ALP), that can morph into photons, to explain oscillations observed in gamma-ray spectra of Pulsars. I leveraged the faster execution of C++ and community developed physics packages in Python, and developed an efficient code to simulate the photon-ALP interaction by integrating Python to run with C++. Using this I performed maximum likelihood analysis to place constraints on ALP models. This resulted in the paper : <a href = "https://doi.org/10.1088/1475-7516/2021/11/036">Reconciling hints on axion-like-particles from high-energy gamma rays with stellar bounds.</a>

	</TimeLineElement>

    <TimeLineElement
      title="Master's thesis project at Indian Institute of Technology Madras (ITTM), Chennai, India"
      subtitle="Advisor: Prof. Dawood Kothawala (2020-2021)"
    >
      I studied particle production in curved space using worldline instanton formalism. I explored the application of instanton formalism to study particle production due to complex scalar field in de-Sitter spacetime, and reproduced the form for Schwinger particle production in de-Sitter spacetime.
    </TimeLineElement>

    <TimeLineElement
      title="PhD thesis at Johns Hopkins University (JHU), Baltimore, U.S.A"
      subtitle="Advisor: Prof. Nadia Zakamska (2022-Now)"
    >
    </TimeLineElement>

  </div>

<!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>
-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>6+ years experience Python</li>
    <li>Limited experience in C++</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Teaching Assistantship courses</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Special Relativity & Waves (Fall 2024, 2025)</li>
    <li>Machine Learning for Scientists (Spring 2025)</li>
    <li>Physics 101 & 102 Classes+Labs (2021-2024)</li>
  </ul>
</BaseLayout>
