---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">

  <div class="pb-12 mt-5">
    <div class="text-xl py-1 text-primary font-medium">Namaste!</div>
    <div class="text-5xl font-bold">I am Gautham Adamane Pallathadka</div>
    <div class="text-3xl py-3 font-bold text-base-content/80">Astrophysicist (and an amateur artist, tennis player, chess player .... )</div>
    <div class="py-2">
      <text class="text-lg text-base-content/70">
        I am currently pursing Ph.D. at Johns Hopkins University working on the discovery and characterization of white dwarf binaries.
      </text>

    </div>
<!--    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/gautham-adamane-pallathadka-4b271b1b7" target="_blank"> Let's connect on Linkedin!</a>
    </div>
-->
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2 section-heading">My recent publications: </div>
  </div>
  <br>
  <HorizontalCard
    title="Double White Dwarf Binaries in SDSS-V DR19 : The discovery of a rare DA+DQ white dwarf binary with 31 hour orbital period"
    img="/publication.jpg"
    desc="We discover a rare DA+DQ DWD binary with 31 hour orbital period, which is only fourth such system know. Read the paper here!"
    url="https://ui.adsabs.harvard.edu/abs/2025arXiv250711618A/abstract"
    badge=""
  />
  <div class="divider my-0"></div>

 <HorizontalCard
    title="Discovery of a Proto–White Dwarf with a Massive Unseen Companion "
    img="/publication.jpg"
    desc="We discovered a binary with a low-mass WD orbiting an extremely massive companion (likely a near-chandrasekhar mass WD) with a 36 hour orbital period. Read the paper here!"
    url="https://ui.adsabs.harvard.edu/abs/2024ApJ...968...42A/abstract"
    badge=""
  />
  <div class="divider my-0"></div>

<div class="mt-8 flex flex-col sm:flex-row flex-wrap gap-4">
  <a class="btn btn-glow whitespace-normal h-auto" href="https://scholar.google.com/citations?user=kkTqe-MAAAAJ&hl=en" target="_blank">You can find my full list of publications on Google Scholar!</a>
  <a class="btn btn-glow whitespace-normal h-auto" href="https://orcid.org/0000-0002-5864-1332" target="_blank">You can also find it on ORCID!</a>
</div>




<!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

-->
</BaseLayout>
