---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <span class="text-xs text-base-content/30 inline">
    Background image: © <a href="https://www.eso.org/public/images/eso0932a/" target="_blank" class="hover:text-base-content/60 transition-colors">ESO/S. Brunier</a> 
  </span>
</footer>

<style></style>
